.subtitle {
	@include adaptiveValue("font-size", 24, 20);
	font-weight: 700;
	line-height: 1.33;
}

.block-header {
	display: grid;
	gap: toRem(24);
	grid-template-columns: auto;
	// .block-header__title
	&__title {
		color: $darkColor;
		@include adaptiveValue("font-size", 52, 32);
		font-weight: 700;
		line-height: 1.23;
	}
	// .block-header__title--big
	&__title--big {
		@include adaptiveValue("font-size", 64, 38);
	}
	// .block-header__title--white
	&__title--white {
		color: $whiteColor;
	}
	// .block-header__text
	&__text {
		p {
			line-height: 1.55;
		}
	}
}
.block-header--center {
	text-align: center;
}
.block-header--inline {
	grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
	justify-content: space-between;
	gap: toRem(24);
	align-items: end;
}
.done {
	// .done__item
	display: flex;
	flex-wrap: wrap;
	column-gap: toRem(41);
	row-gap: toRem(8);
	&__item {
		color: $bgColorLite;
		padding-left: toRem(32);
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.6;
		background: url("@img/icons/check.svg") left toRem(4) no-repeat;
	}
}
/*
			<div class="block-header">
				<h2 class="block-header__title">
					Professional for your home services
				</h2>
				<div class="block-header__text">
					<p>
						You need help for home care? We are home care professionals focused in the US region. We provide
						several
						services that support home services
					</p>
				</div>
			</div>
*/
