//====================================================================================================
.hero {
	background-color: $bgColor;
	padding: toRem(80) toRem(15) toRem(60) toRem(15);
	min-height: 100vh;
	display: grid;
	position: relative;
	@media (min-width: $tablet) {
		grid-template-columns: auto 1fr auto; /* 412/1890 */
	}
	@media (max-width: $tablet) {
		padding: toRem(80) toRem(15) toRem(30) toRem(15);
	}
	// .hero__image
	&__image-ibg {
		@include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
		border-radius: toRem(24);
		overflow: hidden;
		img {
			object-position: top;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// .hero__body
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: toRem(50);
		@include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
		@include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
	}
	// .hero__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	// .hero__main
	&__main {
		display: grid;
		gap: toRem(24);
		&:not(:last-child) {
			margin-bottom: toRem(48);
		}
	}
	// .hero__button
	&__button {
	}
	// .hero__advantages
	&__advantages {
	}
	// .hero__block-header
	&__block-header {
		max-width: toRem(670);
		.block-header__title {
		}
	}
	// .hero__items
	&__items {
	}
	// .hero__done
	&__done {
		justify-content: center;
		align-items: center;
	}
	// .hero__decor
	&__decor {
	}
}
.items-hero {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: toRem(52);
	// .items-hero__item
	&__item {
		color: $grayColor;
		font-weight: 700;
		line-height: 1.4;
		position: relative;
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				right: toRem(-30);
				top: 40%;
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				background-color: $grayColor;
			}
		}
	}
}
.advantages-hero {
	display: grid;
	grid-template-columns: repeat(4, auto);
	@include adaptiveValue("column-gap", 64, 20);
	row-gap: toRem(15);
	@media (max-width: em(1920)) {
		grid-template-columns: repeat(2, auto);
	}
	@media (max-width: $mobileSmall) {
		grid-template-columns: auto;
	}
	// .advantages-hero__item
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		gap: toRem(16);
		@media (min-width: em(1920)) {
			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					@include adaptiveValue("right", -32, -20);
					top: 0;
					height: 100%;
					width: toRem(1);
					background: linear-gradient(
						0deg,
						rgba(20, 34, 87, 0) 0%,
						rgba(79, 102, 183, 1) 50%,
						rgba(20, 34, 87, 0) 100%
					);
				}
			}
		}
	}
	// .advantages-hero__icon
	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 toRem(48);
		height: toRem(48);
		width: toRem(48);
		border-radius: 50%;
		padding: toRem(5);
		background-color: $bgColorSemi;
	}
	// .advantages-hero__text
	&__text {
		flex: 1 1 auto;
		font-weight: 600;
		line-height: 1.33; /* 133.333% */
		color: $whiteColor;
	}
}
.decor-hero {
	// .decor-hero__item
	&__item {
		@include adaptiveValue("width", 420, 200, 0, $containerWidth, 991.98);
		position: absolute;
		bottom: 0;
		height: toRem(50);
		background-color: $whiteColor;
		&:first-child {
			left: 0;
			border-radius: 0 toRem(20) 0 0 / 0 toRem(10) 0 0;
			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				width: 0;
				height: 0;
				transform: translate(calc(100% - toRem(4)), toRem(6.6));
				border-top: toRem(50) solid transparent;
				border-left: toRem(50) solid $whiteColor;
				border-bottom: solid transparent;
			}
		}
		&:last-child {
			right: 0;
			border-radius: toRem(20) 0 0 0 / toRem(10) 0 0 0;
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				transform: translate(calc(-100% + toRem(4)), toRem(6.6));
				border-top: toRem(50) solid transparent;
				border-right: toRem(50) solid $whiteColor;
				border-bottom: solid transparent;
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
//========================================================================================================================================================
.about {
	@include adaptiveValue("margin-top", 123, 40);
	@include adaptiveValue("margin-top", 64, 20);
	// .about__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}
	// .about__body
	&__body {
		@include adaptiveValue("padding-top", 100, 30, 2, $containerWidth, 991.98);
		@media (min-width: $tablet) {
			max-width: toRem(580);
			padding-right: toRem(20);
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .about__block-header
	&__block-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 25);
		}
	}
	// .about__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("column-gap", 57, 20);
		@include adaptiveValue("row-gap", 32, 15);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 30);
		}
		@media (max-width: em(540)) {
			grid-template-columns: auto;
		}
	}
	// .about__item
	&__item {
		@include adaptiveValue("font-size", 20, 18);
		background: url("@img/icons/check-dark.svg") 0 em(10, 20) no-repeat;
		padding-left: toRem(28);
		font-size: toRem(20);
		font-weight: 700;
		line-height: 1.4; /* 140% */
		color: $bgColorSemi;
	}
	// .about__info
	&__info {
		background-color: $bgColorLite;
		color: $whiteColor;
		border-radius: toRem(24);
		padding: toRem(12) toRem(32);
		line-height: 1.55;
		a {
			white-space: nowrap;
			font-size: toRem(20);
			font-weight: 600;
			line-height: 1.75; /* 28/16 */
			text-decoration-line: underline;
		}
		@media (min-width: $tablet) {
			max-width: toRem(450);
		}
	}
	// .about__image
	&__image {
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================
.services {
	@include adaptiveValue("padding-top", 120, 20);
	@include adaptiveValue("padding-bottom", 140, 40);
	// .services__container
	&__container {
	}
	// .services__block-header
	&__block-header {
		max-width: toRem(560);
		margin: 0 auto;
	}
	// .services__items
	&__items {
		display: grid;
		grid-template-columns: auto;
		@media (min-width: em(670)) {
			grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		}
	}
	// .services__item
	&__item {
	}
}
.item-service {
	border-radius: toRem(24);
	@include adaptiveValue("padding", 32, 12);
	// .item-service__icon
	&--blue {
		color: $whiteColor;
		text-align: center;
		background-color: $bgColorLite;
	}
	@media (max-width: em(669.98)) {
		text-align: center;
	}
	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: toRem(12);
		width: toRem(64);
		height: toRem(64);
		background-color: $bgColor;
		border-radius: toRem(20);
		img {
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-service__title
	&__title {
		font-size: toRem(24);
		font-weight: 700;
		line-height: 1.33; /* 133.333% */
		color: $darkColor;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
		&-white {
			color: $whiteColor;
		}
	}
	// .item-service__text
	&__text {
		line-height: 1.55; /* 155.556% */
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
		}
	}
	// .item-service__button
	&__button {
	}
}
//========================================================================================================================================================
.advantages {
	// .advantages__body
	&__body {
		background-color: $bgColor;
		@include adaptiveValue("padding-top", 64, 30);
		@include adaptiveValue("padding-bottom", 64, 30);
	}
	// .advantages__container
	&__container {
	}
	// .advantages__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 64, 15);
		}
	}
	// .advantages__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("row-gap", 60, 20);
		@include adaptiveValue("column-gap", 184, 20);
		@include adaptiveValue("padding-top", 64, 15);
	}
	// .advantages__item
	&__item {
		display: flex;
		@include adaptiveValue("gap", 32, 20);
	}
}
.item-advantages {
	// .item-advantages__icon
	&__icon {
	}
	// .item-advantages__body
	&__body {
	}
	// .item-advantages__title
	&__title {
		@include adaptiveValue("font-size", 24, 22);
		color: $whiteColor;
		font-weight: 700;
		line-height: 1.33;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	// .item-advantages__text
	&__text {
		color: $grayColor;
		line-height: 1.55;
	}
}
