//====================================================================================================
.hero {
	background-color: $bgColor;
	min-height: 100vh;
	display: grid;
	padding: toRem(80) toRem(15) toRem(60) toRem(15);
	grid-template-columns: auto 1fr auto; /* 412/1890 */
	// .hero__image
	&__image-ibg {
		@include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
		border-radius: toRem(24);
		overflow: hidden;
		img {
			object-position: top;
		}
	}
	// .hero__body
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: toRem(50);
		@include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
		@include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
	}
	// .hero__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	// .hero__main
	&__main {
		display: grid;
		gap: toRem(24);
		&:not(:last-child) {
			margin-bottom: toRem(48);
		}
	}
	// .hero__button
	&__button {
	}
	// .hero__advantages
	&__advantages {
	}
	// .hero__block-header
	&__block-header {
		max-width: toRem(670);
		.block-header__title {
		}
	}
	// .hero__items
	&__items {
	}
	// .hero__done
	&__done {
		justify-content: center;
		align-items: center;
	}
}

.items-hero {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: toRem(52);
	// .items-hero__item
	&__item {
		color: $grayColor;
		font-weight: 700;
		line-height: 1.4;
		position: relative;
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				right: toRem(-30);
				top: 40%;
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				background-color: $grayColor;
			}
		}
	}
}
.advantages-hero {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(toRem(169), 1fr));
	@include adaptiveValue("gap", 64, 20);
	// .advantages-hero__item
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(16);
	}
	// .advantages-hero__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 toRem(48);
		height: toRem(48);
		border-radius: 50%;
		padding: toRem(5);
		background-color: $bgColorSemi;
	}
	// .advantages-hero__text
	&__text {
		font-weight: 600;
		line-height: 1.33; /* 133.333% */
		color: $whiteColor;
	}
}
//====================================================================================================
